    * {
        margin: 0;
        padding: 0;
    }
    
    a,
    a:focus,
    a:hover {
        text-decoration: none;
    }
    
    ul,
    ol {
        list-style: none;
    }
    
    a,
    a:focus,
    a:hover {
        text-decoration: none;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    li {
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }
    
    p {
        font-family: 'Open Sans', sans-serif;
    }
    
    .container {
        width: 1170px;
        margin: auto;
        display: flex;
        align-items: center;
    }
    /* header css start */
    
    .portfolio-header {
        padding: 40px 0;
    }
    
    .logo {
        width: 30%;
        text-align: center;
    }
    
    .logo h1 {
        color: rgb(255, 153, 0);
        font-size: 40px;
    }
    
    .menu {
        width: 60%;
        text-align: center;
    }
    
    .menu ul {
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
        font-size: 20px;
        color: #333;
    }
    
    .menu ul li {
        transition: .3s;
        transform: scale(1);
    }
    
    .menu ul li:hover {
        color: rgb(255, 153, 0);
        transition: .3s;
        cursor: pointer;
        transform: scale(1.1);
    }
    
    .button {
        width: 10%;
        text-align: center;
    }
    
    .button a {
        padding: 10px 20px;
        color: #fff;
        background-color: rgb(255, 153, 0);
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
        border: 2px solid #fff;
        transition: .3s;
    }
    
    .button a:hover {
        background-color: #fff;
        color: rgb(255, 153, 0);
        transition: .3s;
        border: 2px solid rgb(255, 153, 0);
    }
    /* header css end */
    /* about css start */
    
    #about {
        background-image: url(../images/Untitled\ design\ \(2\).gif);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .about {}
    
    .about-text {
        width: 60%;
        padding-right: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .about-text .about-title {
        font-size: 50px;
        letter-spacing: px;
    }
    
    .about-text .portfolio {
        color: #D3117F;
        letter-spacing: 15px;
    }
    
    .about-text .sub-about {
        padding-right: 200px;
        margin: 10px 0;
        font-size: 22px;
    }
    
    .about-text .about-details {
        line-height: 1.5em;
        letter-spacing: 1;
        padding-right: 50px;
    }
    
    .hire-me-button {
        margin-top: 30px;
    }
    
    .hire-me-button a {
        display: block;
        width: 100px;
        padding: 10px 20px;
        color: #fff;
        background-color: rgb(255, 153, 0);
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
        border: 2px solid #fff;
        transition: .3s;
        text-align: center;
    }
    
    .hire-me-button a:hover {
        background-color: #fff;
        color: rgb(255, 153, 0);
        transition: .3s;
        border: 2px solid rgb(255, 153, 0);
    }
    
    .about-img {
        width: 40%;
        padding-left: 20px;
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;
    }
    
    .about-img .img img {
        width: 100%
    }
    /* about css end */
    /* services css start */
    
    #services {
        padding: 50px 0;
    }
    
    .services {}
    
    .services-items {
        width: 30%;
        text-align: center;
        position: relative;
        margin: 0 20px;
        border-radius: 10px;
    }
    
    .items {
        background-color: #D3117F;
        padding: 20px 20px;
        cursor: pointer;
        border-radius: 10px;
    }
    
    .items img {
        width: 100%;
    }
    
    .items .item-heading {
        color: #fff;
    }
    
    .items .item-text {
        margin-top: 10px;
        color: #dadada;
    }
    
    .item-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        background: #D3117F;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
        transition: .5s;
        transform: scale(0);
        border-radius: 10px;
    }
    
    .services-items:hover .item-overlay {
        width: 100%;
        opacity: .95;
        transition: .5s;
        transform: scale(1);
    }
    
    .hire-me-button2 {
        margin-top: 30px;
        text-align: center;
    }
    
    .hire-me-button2 a {
        width: 100px;
        padding: 10px 20px;
        color: #fff;
        background-color: rgb(255, 153, 0);
        font-family: 'Poppins', sans-serif;
        border-radius: 5px;
        border: 2px solid rgb(255, 153, 0);
        transition: .3s;
    }
    
    .hire-me-button2 a:hover {
        background-color: #fff;
        color: rgb(255, 153, 0);
        transition: .3s;
        border: 2px solid rgb(255, 153, 0);
    }
    
    .b2 {
        background-color: #01AAB9 !important;
    }
    
    .o1 {
        background: #01AAB9 !important;
    }
    
    .o2 {
        background-color: rgb(255, 153, 0);
        !important;
    }
    
    .b3 {
        background-color: rgb(255, 153, 0);
        !important;
    }
    
    .c3 a {
        background-color: #01AAB9 !important;
        border: 2px solid #01AAB9 !important;
    }
    
    .c2 a {
        background-color: #D3117F !important;
        border: 2px solid #D3117F !important;
    }
    
    .c2 a:hover {
        background-color: #fff !important;
        color: #D3117F;
    }
    
    .c3 a:hover {
        background-color: #fff !important;
        color: #01AAB9;
    }
    /* services css end */